.blink {
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.background {
  background-color: #4a4e69;
  width: 100vw;
  height: 125vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0;
  padding: 0 0;
}

.heading {
  opacity: 0;
  height: 5vh;
  font-family: "Source Code Pro";
  color: rgb(226, 226, 226);
  font-size: 20pt;
  font-weight: 500;
  margin-top: 20vh;
  margin-bottom: 10vh;
  text-align: center;
  animation: fadeIn ease 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.frame {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: flex-start;
  border-radius: 10px;
  width: 50vw;
  height: 70vh;
  background-color: rgb(173, 173, 173);
  box-shadow: 5px 5px 20px 5px;
}

.windowTitle {
  position: relative;
  top: 0.25vw;
  font-size: 2vh;
  font-family: "Source Code Pro";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.terminal {
  position: absolute;
  top: 5%;
  height: 95.5%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50vw;
  background-color: rgb(44, 44, 44);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-y: scroll;
}

.terminal::-webkit-scrollbar {
  opacity: 0;
}

.terminal::-webkit-scrollbar-thumb {
  box-shadow: inset 2px 1px 10px rgb(54, 54, 54);
  border-radius: 5px;
}

.command {
  height: 0rem;
  position: relative;
  word-wrap: break-word;
  left: 5%;
  top: 0px;
  font-family: "Source Code Pro";
  color: rgb(255, 255, 255);
  font-size: 1vw;
  text-align: left;
  margin-bottom: 2vw;
}

.output {
  left: 10%;
  position: relative;
  width: 100%;
  word-wrap: break-word;
  font-family: "Source Code Pro";
  color: rgb(219, 219, 219);
  font-size: 1vw;
  text-align: left;
}

.outputS {
  height: 0.6rem;
  position: relative;
  word-wrap: break-word;
  padding: 0.1rem;
  left: 10%;
  font-family: "Source Code Pro";
  color: rgb(204, 203, 203);
  font-size: 1vw;
  text-align: left;
}

.link {
  color: rgb(98, 134, 192);
}

@media (max-width: 1800px) {
  .command {
    font-size: 14pt;
  }
  .output {
    font-size: 12pt;
  }
  .outputS {
    font-size: 12pt;
  }
}

@media (max-width: 1500px) {
  .frame {
    width: 750px;
  }
  .terminal {
    width: 750px;
  }
}

@media (max-width: 900px) {
  .frame {
    width: 90vw;
  }

  .terminal {
    width: 90vw;
  }
}

@media (min-width: 2000px) {
  .heading {
    font-size: 2vw;
  }
}

@media (max-width: 600px) {
  .command {
    font-size: 3.25vw;
    margin-bottom: 30px;
  }
  .output {
    font-size: 3.1vw;
  }
  .outputS {
    font-size: 3.1vw;
  }
}
