.navbar {
  --bg: #171a1f;
  --bg-accent: #484a4d;
  --text-color: #e3fbfb;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  z-index: 99;
  position: fixed;
  left: 0;
  right: 0;
  height: 100px;
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
  --dropdown-opacity: 80%;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button-hamburger:hover {
  filter: brightness(1.3);
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 15%;
  background-color: #353638;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  filter: brightness(1.3);
}

@keyframes slide-down {
  0% {
    opacity: 0%;
    transform: translateY(500%);
    transform: translateX(-30%);
  }
  100% {
    opacity: var(--dropdown-opacity);
    transform: translateY(-50%);
    transform: translateX(-30%);
  }
}

.dropdown {
  z-index: -1;
  position: absolute;
  top: 98px;
  width: 15vw;
  background-color: var(--bg);
  border: var(--border);
  border-top: none;
  border-radius: var(--border-radius);
  border-top-left-radius: 0px;
  padding: 1rem;
  overflow: hidden;
  animation-name: slide-down;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #525358;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  opacity: 0;
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all var(1000ms) ease;
}
.menu-primary-exit {
  opacity: 1;
}
.menu-primary-exit-active {
  opacity: 0;
  transform: translateX(-110%);
  transition: all var(1000ms) ease;
}

@media (max-height: 800px) {
  .navbar {
    --dropdown-opacity: 90%;
  }
}

@media (min-height: 800px) {
  .navbar {
    height: 10vh;
  }
  .dropdown {
    top: 9.9vh;
  }
  .menu-item {
    height: 5vh;
    font-size: 1vw;
  }
}
