.root {
  width: 100vw;
  height: auto;
  --heading-size: 1.5vw;
  --title-size: 1.2vw;
  --strong-size: 1.1vw;
  --normal-size: 1vw;
}

.background {
  width: 100%;
  height: auto;
  background-color: #fff7ef;
  display: flex;
  flex-direction: column;
}

.heading {
  color: rgb(29, 29, 29);
  font-size: var(--heading-size);
  font-family: RobottoB, sans-serif;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.entryContainer {
  font-family: Karla, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.topicTitle {
  font-size: var(--title-size);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 60%;
  margin: 5px 0;
  color: rgb(110, 110, 110);
}

.titleSeparator {
  height: 1px;
  width: 60%;
  border-top: solid;
  border-color: rgb(218, 218, 218);
  margin-bottom: 15px;
}

.entryTitleTopic {
  font-size: var(--strong-size);
  margin-bottom: 20px;
}

.entryTitle {
  font-weight: 700;
  margin-bottom: 5px;
}

.entryContent {
  font-size: var(--normal-size);
}

@media (max-width: 1800px) {
  .root {
    --heading-size: 30pt;
    --title-size: 20pt;
    --strong-size: 18pt;
    --normal-size: 15pt;
  }
}

@media (max-width: 1300px) {
  .entryComment {
    position: absolute;
    opacity: 0;
  }
}
